name: Deploy to Render

on:
    
    pull_request:
      branches:
        - main
       
jobs:
    cicd:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - name: Test
          run: |
            npm install
            npm run build
            npm run start &
            npm run test-component

        - name: Deploy to Render
          env:
            DEPLOY_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
          run: |
            curl "$DEPLOY_URL"
  